# Core functionality - changes here should be rare!
/src/app.py                   @gilbertaquino3
/src/backend/database.py      @gilbertaquino3
/src/backend/routers/auth.py  @gilbertaquino3

# The frontend will need refactored soon to be more object oriented.
/src/static/   @gilbertaquino3
